APP_NAME="CGHMN Tunnel Registration"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

PHP_CLI_SERVER_WORKERS=4

LOG_CHANNEL=stderr
LOG_LEVEL=debug

# Use SQLite3 instead of MariaDB
DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/storage/app/private/wg-controller.sqlite3

#DB_CONNECTION=mariadb
#DB_HOST=db
#DB_PORT=3306
#DB_DATABASE=app-dev
#DB_USERNAME=root
#DB_PASSWORD=password

# Use flat files for cache and session storage instead of Redis
CACHE_DRIVER=file
SESSION_DRIVER=file

#REDIS_CLIENT=phpredis
#REDIS_HOST=redis
#REDIS_PASSWORD=null
#REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_ENCRYTPTION=null
MAIL_HOST=mailcatcher
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="app@example.net"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

# Set to a random string to enable the API
API_KEY=