APP_NAME="CGHMN Tunnel Registration"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

PHP_CLI_SERVER_WORKERS=4

LOG_CHANNEL=stderr
LOG_LEVEL=debug

# Use SQLite3 instead of MariaDB
DB_CONNECTION=sqlite
DB_DATABASE=database/wg-controller.sqlite
DB_FOREIGN_KEYS=true

#DB_CONNECTION=mariadb
#DB_HOST=db
#DB_PORT=3306
#DB_DATABASE=app-dev
#DB_USERNAME=root
#DB_PASSWORD=password

# Use flat files for cache and session storage instead of Redis
CACHE_DRIVER=file
SESSION_DRIVER=file

#REDIS_CLIENT=phpredis
#REDIS_HOST=redis
#REDIS_PASSWORD=null
#REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_ENCRYTPTION=null
MAIL_HOST=mailcatcher
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="app@example.net"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

# Set to a random string to enable the API
API_KEY=changeme

# Default Wireguard persistent keepalive interval
# WG_KEEPALIVE=15

# Disable actually creating and managing any Wireguard interfaces
# WG_DISABLE_INTERFACE_MANAGEMENT=true

# Push configuration changes to the given WG Endpoint API hosts
# WG_ENDPOINT_API_PUSH_ENABLED=true

# Configure endpoints to push configuration updates to
# The variable takes a list of endpoints with the format `<api-key>@<uri>`
# and separated by commas
# WG_ENDPOINT_API_HOSTS=changeme@http://240.0.0.101:8000/api/v1,changeme@http://240.0.0.102:8000/api/v1
